html {
    background-image: linear-gradient( to right, rgb(230, 230, 230), rgb(242, 242, 242), rgb(230, 230, 230));
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: auto;
}

header {
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 0px 0px 2em 2em;
    background-image: radial-gradient(at top left, rgb(204, 233, 255), rgb(0, 111, 222));
    box-shadow: 0.5em 0.5em 0.5em rgb(34, 77, 109);
}

header>h1 {
    text-align: center;
    margin: auto;
    color: white;
    width: 50%;
    font-size: 5vw;
    text-shadow: 0.05em 0.05em 0.08em rgb(34, 77, 109);
}

ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 90%;
    margin: auto;
    margin-top: 1.5%;
}

li {
    border: solid 1px gray;
    border-radius: 1em;
    box-shadow: 0px 0px 5px 1px gray;
    display: inline;
    list-style: none;
    height: 9em;
    margin: 1em;
    padding: 1em;
    transition-duration: 0.5s;
}

li:hover {
    box-shadow: 0px 0px 8px 6px lightblue;
    transition-duration: 0.3s;
    cursor: pointer;
}

.square {
    border: dashed 2px darkgray;
    position: absolute;
    margin-left: 1em;
    margin-right: 1em;
    height: 5em;
    width: 10%;
    background-color: white;
    text-align: center;
}

.itemTitle {
    position: absolute;
    margin-top: 7em;
    margin-left: 1em;
    margin-right: 1em;
    width: 10%;
    text-align: center;
    color: rgb(133, 133, 133);
    font-weight: 900;
    font-size: 1.2vw;
    text-transform: uppercase;
}