#listContainer {
    display: grid;
    grid-template-columns: 100%;
}

.item {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    border: 1px solid green;
    height: 8em;
}

#addNewToDo {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
}

#addTodoInput {
    height: 100%;
    width: 70%;
}

#addToDoButton {
    width: 18%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
}

.drop .description .checked {
    color: red;
    text-decoration: underline;
    border: 1px solid red;
}
